@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .App {
    min-height: 100vh;
    width: 100vw;
    max-width: 1900px;
    margin: 0rem auto;
  }
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  /* body {
    background: linear-gradient(to top left, #66ccff, #99ccff, #ffffff);
  } */
  

  nav{
    width: 100vh;
    height: 100%;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 130px;
  }

  .navbar-menu-container {
    display: none;
  }

  .navbar-links-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .navbar-links-container .navbar-link{
    margin-right: 3rem;
    text-decoration: none;
    color: #4c4c4c;
    font-size: 1.3rem;
    font-weight: 600;
    transition: all 0.5s ease;
  }
 
  .primary-button {
    padding: 0.9rem 1.75rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
  }
  .navbar-cart-icon {
    font-size: 1.15rem;
  }
  .primary-button:hover {
    background-color: rgb(234, 234, 234);
  }
  .navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .home-banner-container {
    position: relative;
    display: flex;
    padding-top: 3rem;
  }
  .home-bannerImage-container {
    position: absolute;
    top: -100px;
    right: -170px;
    z-index: -2;
    max-width: 700px;
  }
  .home-image-section {
    max-width: 600px;
    flex: 1;
  }
  .home-text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .primary-heading {
    font-size: clamp(2rem, 5vw, 4rem);
    color: #4c4c4c;
    line-height: 5rem;
    font-weight: bolder;
  }
  .primary-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 500px;
    color: #6a6a6a;
    font-weight: 900;
    font-size: 30px;
    margin: 1.5rem 0rem;
  }
  .secondary-button {
    padding: 1rem 2.5rem;
    background-color: #B4D4FF;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .secondary-button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
  }
  .secondary-button:hover {
    background-color: #86B6F6;
  }
  .about-section-container {
    margin-top: 10rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about-background-image-container {
    position: absolute;
    left: -150px;
    z-index: -2;
  }
  .about-section-image-container {
    flex: 0.9;
    margin-right: 1rem;
  }
  .about-section-text-container {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .primary-subheading {
    font-weight: 700;
    color: #fe9e0d;
    font-size: 1.15rem;
  }
  .about-buttons-container {
    margin-top: 2rem;
    display: flex;
  }
  .watch-video-button {
    margin-left: 2rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: #484848;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .watch-video-button svg {
    font-size: 3rem;
    margin-right: 1rem;
  }
  .contact-page-wrapper h1 {
    max-width: 900px !important;
  }
  .contact-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .contact-form-container {
    background-color: white;
    max-width: 700px;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 5rem;
  }
  .contact-form-container input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 7rem;
  }
  .footer-logo-container {
    max-width: 110px;
  }
  
  .footer-icons{
    margin-top: 2rem;
  }
  .footer-icons svg {
    font-size: 1.5rem;
    margin: 0rem 0.5rem;
    color: #585858;
  }
  .footer-section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-section-two {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .footer-section-columns {
    display: flex;
    flex-direction: column;
  }
  .footer-section-columns span {
    margin: 0.25rem 0rem;
    font-weight: 600;
    color: #4c4c4c;
    cursor: pointer;
  }
  .testimonial-section-bottom {
    margin-top: 2rem;
    background-color: white;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    border-radius: 2rem;
    flex-direction: column;
    text-align: center;
  }
  .testimonial-section-bottom {
    margin: 2rem auto;
  }
  .testimonial-section-bottom p {
    font-weight: 700;
    color: #515151;
    max-width: 500px;
    font-size: 1.1rem;
    margin: 2rem 0rem;
  }
  .testimonials-stars-container svg {
    margin: 0rem 0.25rem;
    font-size: 1.5rem;
    color: #fe9e0d;
  }
  .testimonial-section-bottom h2 {
    margin-top: 1.5rem;
  }
  .work-section-wrapper {
    margin-top: 7rem;
  }
  .work-section-top p {
    text-align: center;
    max-width: 600px !important;
  }
  .work-section-top h1 {
    max-width: 700px !important;
  }
  .work-section-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .work-section-info {
    width: 25%;
    height: 400px;
    background-color: #B9E9FC;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    color: #505050;
    transition: all 0.5s ease;
  }

  .work-section-info p{
    max-width: 300px;
  }

  @media (max-width: 1000px) {
    .work-section-bottom{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .work-section-info{
      width: 80%;
      height: 100%;
    }

    .footer-section-one{
      margin: 0rem 0rem 0rem 0rem;
    }

    .footer-section-columns{
      margin-left: 70px;
    }

  }

  .work-section-info:hover{
    background-color: #B4D4FF;
  }
  .work-section-info h2 {
    margin: 1rem 0rem;
  }
  .work-section-bottom {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .work-section-info p {
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: 600;
  }

  .contact-section-bottom{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
  }

  .contact-section-info {
    width: 25%;
    height: 450px;
    margin-top: 30px;
    background-color: #c6d6ed;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    color: #505050;
    transition: all 0.5s ease;
  }
  
  .contact-section-info h2 {
    margin-top: 10px; /* Elimina el margen superior del título */
  }
  
  .contact-section-info p {
    margin-top: 30px; /* Mueve el texto hacia el centro vertical */
  }
  
  @media (max-width: 1122px) {
    .contact-section-info{
      width: 100%;
    }
    .contact-section-bottom{
      display: flex;
      flex-direction: column;
    }
    .navbar-links-container a {
      margin-right: 1rem;
      font-size: 1rem;
    }
    .primary-button {
      font-size: 1rem;
    }
    .home-bannerImage-container {
      max-width: 600px;
    }
  }
  @media (max-width: 800px) {
    /* .nav-logo-container {
      max-width: 140px;
    } */
    .navbar-links-container {
      display: none;
    }
    .navbar-menu-container {
      display: flex;
    }
    .home-bannerImage-container {
      max-width: 450px;
    }
    .home-banner-container,
    .about-section-container {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
    .about-section-container {
      flex-direction: column;
    }
    .home-image-section,
    .about-section-image-container {
      width: 100%;
      max-width: 400px;
    }
    .primary-heading {
      text-align: center;
      max-width: 90%;
    }
    .primary-text {
      text-align: center;
      max-width: 80%;
    }
    .home-text-section,
    .about-section-text-container {
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
    }
    .secondary-button {
      font-size: 1rem;
      padding: 0.8rem 2rem;
      cursor: pointer;
    }
    .about-section-container {
      margin-top: 5rem !important;
    }
    .about-buttons-container {
      justify-content: center;
      flex-direction: column;
    }
    .primary-subheading {
      text-align: center;
    }
    .watch-video-button {
      margin-left: 0rem !important;
      margin-top: 1rem;
      font-size: 1rem !important;
    }
    .watch-video-button svg {
      margin-right: 0.5rem !important;
    }
    .about-section-image-container {
      margin-right: 0rem !important;
    }
    .work-section-wrapper {
      margin-top: 5rem !important;
    }
    .work-section-bottom {
      margin-top: 1rem !important;
    }
    .contact-form-container {
      padding: 0.5rem !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 1rem !important;
    }
    .contact-form-container input {
      font-size: 1rem !important;
      max-width: 100%;
      padding: 0.5rem 1rem !important;
      margin-bottom: 0.8rem !important;
      text-align: center;
    }
    .footer-wrapper {
      gap: 20px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .footer-section-columns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .App {
      max-width: 95vw;
    }
  }
  @media (max-width: 600px) {
    .home-bannerImage-container,
    .about-background-image-container {
      display: none;
    }
  }
  
  @keyframes shake-horizontal {
    0% {
      transform: translateX(0);
    }
    10%, 90% {
      transform: translateX(-5px);
    }
    20%, 80% {
      transform: translateX(5px);
    }
    30%, 50%, 70% {
      transform: translateX(-5px);
    }
    40%, 60% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes shake-vertical {
    0% {
      transform: translateY(0);
    }
    10%, 90% {
      transform: translateY(-5px);
    }
    20%, 80% {
      transform: translateY(5px);
    }
    30%, 50%, 70% {
      transform: translateY(-5px);
    }
    40%, 60% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .shake-vertical {
    animation: shake-vertical 1s ease-in-out;
  }
  
  .shake-horizontal {
    animation: shake-horizontal 1s ease-in-out;
  }
  
  .float {
    position: fixed;
    width: 70px;
    height: 70px;
    background-color: #25d366;
    bottom: 20px;
    right: 20px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 999;
  }
  
  .float:hover {
    background-color: #12e760;
    animation: none; /* Detiene la animación al pasar el mouse */
  }
  

.our-services .section-1{
  display: flex;
  flex-direction: column;
}

.service-point{
  display: flex;
  align-items: center;
}

.service-point img{
  width: 50px;
  height: 50px;
  object-fit: contain;
}

@media (max-width:1000px){
  .service-point-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service-point{
    gap: 30px;
  }

}

.service-point img{
  mix-blend-mode: darken;
}


.responsive-title{
  width: 100%;
}

@media (max-width: 1200px) {
  .responsive-title {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .responsive-title {
    font-size: 20px;
  }
}